/*  ====================
    Buttons / Form fields
    ======================================== */
button, input[type=button], input[type=reset], input[type=submit] {
  @extend .btn;
  @extend .btn-primary;
}

input[type=text], input[type=email], input[type=password], input[type=search], textarea {
  @extend .form-control;
}

/*  ====================
    Search Widget
    ======================================== */
.search-form {
  @extend .form-inline;
  padding: 8px 8px 5px;

  label {

    span {
      display: none;
    }
  }
}

/*  ====================
    Sidebar List Items
    ======================================== */
.panel > ul {
  @extend .list-group;

  li {
    @extend .list-group-item;
  }
}

.panel .textwidget {
  @extend .panel-body;
}

/*  ====================
    Social Icons
    ======================================== */
.social-navigation {
  margin : 10px 0;
}

.social-navigation ul {
  list-style : none;
  margin     : 0 0 0 0;
}

.social-navigation li {
  float : left;
}

.social-navigation a {
  display  : block;
  height   : 3.2em;
  position : relative;
  width    : 3.2em;
}

.social-navigation a:before {
  font-family: "FontAwesome";
  content   : "\f128";
  font-size : 24px;
  position  : absolute;
  top       : 0;
  left      : 0;
}

.social-navigation a[href$="/feed/"]:before {
  content : "\f09e";
}

.social-navigation a[href*="facebook.com"]:before {
  content : "\f09a";
}

.social-navigation a[href*="plus.google.com"]:before {
  content : "\f1a0";
}

.social-navigation a[href*="instagram.com"]:before {
  content : "\f16d";
}

.social-navigation a[href*="linkedin.com"]:before {
  content : "\f0e1";
}

.social-navigation a[href*="pinterest.com"]:before {
  content : "\f0d2";
}

.social-navigation a[href*="tumblr.com"]:before {
  content : "\f173";
}

.social-navigation a[href*="twitter.com"]:before {
  content : "\f099";
}

.social-navigation a[href*="vimeo.com"]:before {
  content : "\f194";
}

.social-navigation a[href*="youtube.com"]:before {
  content : "\f167";
}

.social-navigation a[href*="mailto:"]:before {
  content : "\f0e0";
}

/*  ====================
    Comments
    ======================================== */
.comments-area {
  border-top: 1px solid #eaeaea;

  > &:last-child {
    margin-bottom: 0;
  }
}

.comment-list + .comment-respond {
  border-top: 1px solid #eaeaea;
}

.comment-list + .comment-respond,
.comment-navigation + .comment-respond {
  padding-top: 1.6em;
}

.comments-title {
  margin-bottom: 20px;
}

.comment-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.comment-list article,
.comment-list .pingback,
.comment-list .trackback {
  border-top: 1px solid #eaeaea;
  padding: 1.6em 0;
}

.comment-list .children {
  list-style: none;
  margin: 0;

  > li {
    padding-left : 0.8em;
  }
}

.comment-author {
  margin-bottom: 0.4em;

  a:hover {
    border-bottom: 1px solid #707070;
  }

  .avatar {
    float: left;
    height: 24px;
    margin-right: 0.8em;
    width: 24px;
  }
}

.comment-metadata {
  margin-bottom: 1.6em;
}

.comment-content ul,
.comment-content ol {
  margin: 0 0 1.6em 1.3333em;
}

.comment-content li > ul,
.comment-content li > ol {
  margin-bottom: 0;
}

.comment-content > :last-child {
  margin-bottom: 0;
}

.comment-list .reply {
  font-size: 12px;
  font-size: 1.2rem;
}

.comment-list .reply a,
.edit-link a {
  @extend .btn;
  @extend .btn-default;
  @extend .btn-xs
}

.comment-form {
  padding-top: 1.6em;
}


.comment-notes,
.comment-awaiting-moderation,
.logged-in-as,
.form-allowed-tags {
  margin-bottom: 2em;
}

.no-comments {
  border-top: 1px solid #eaeaea;
  font-weight: bold;
  padding-top: 1.6em;
}

.comment-navigation + .no-comments {
  border-top: 0;
}

.form-allowed-tags code {
  font-family: Inconsolata, monospace;
}

.form-submit input[type="submit"] {
  @extend .btn;
  @extend .btn-primary;
}

.required {
  color: #c0392b;
}

.comment-reply-title small {
  font-size: 100%;
}

.comment-reply-title small a {
  border: 0;
  float: right;
  height: 32px;
  overflow: hidden;
  width: 26px;
}