////////////////////////////////////////
///// Theme Variables //////////////////
////////////////////////////////////////

// Colours, Shades & Font Colours

$prim_color: #FEBA11;
$secondary_color: #424244;
$tertiary_color: #FEC53A;

$grey_bg: #FAFAFA;

$copy_text_color: #333;

$error_color: #ED5E56;

$border_color: #E6E6E6;

// Font Family and Font Base

$primary_font: Arial, Helvetica, sans-serif; // Titles, Headings, CTAs, etc.
$secondary_font: Arial, Helvetica, sans-serif; // Copy, inputs, general text.

$default_font_size: 14px;