/* ================================= */
/* Footer */
/* ================================= */
.site-footer {
	clear:            both;
	background-color: $grey_bg;
	display:          block;
	width:            100%;
	float:            left;
	padding:          0 0 40px 0;
}