/* ================================= */
/* Header */
/* ================================= */
#header {
	background-color: #FAFAFA;
	display:          block;
	width:            100%;
	float:            left;
	padding:          10px 0;
	position:         relative;

	a.logo {
		margin:      0px 0px 15px 0px;
		padding:     0px;
		text-indent: -9999px;
		z-index:     2;
		height:      100px;
		width:       200px;
		display:     block;
		position:    relative;
		background:  url(/assets/images/backgrounds/default-logo.png) top left no-repeat;

		@media (max-width: $grid_s) {
			height          : 50px;
			width           : 100px;
			background-size : 100% auto;
			float           : left;
			margin-bottom   : 0;
		}
	}

	@media (max-width: $grid_s) {
		height  : 50px;
		padding : 0;
		margin-bottom : 15px;
	}
}

/* ================================= */
/* Navigation Menu DROP DOWN MENU */
/* ================================= */
/* Superfish Default */
ul#mainNav, ul#mainNav * {
	margin:     0;
	padding:    0;
	list-style: none;
	position:   relative;
}

ul#mainNav {
	background: $prim_color;
}

ul#mainNav li {
	position: relative; /* Change to position: static; for left aligned menu */
}

ul#mainNav li.sf-mega-wrap {
	position: static; /* OR put this class on the parent (of .sf-mega) li to left align */
}

ul#mainNav ul,
ul#mainNav .sf-mega {
	position: absolute;
	display:  none;
	top:      100%;
	left:     0;
	z-index:  99;
}

ul#mainNav .sf-mega ul {
	display:  block;
	float:    left;
	width:    100%;
	position: relative;
}

ul#mainNav > li {
	float: left;
}

ul#mainNav li:hover > ul,
ul#mainNav li.sfHover > ul,
ul#mainNav  li:hover > .sf-mega,
ul#mainNav  li.sfHover > .sf-mega {
	display: block;
}

ul#mainNav a {
	display:  block;
	position: relative;
}

ul#mainNav ul ul {
	top:  0;
	left: 100%;
}

ul#mainNav .sf-mega {
	display:            none;
	position:           absolute;
	float:              left;
	top:                100%;
	left:               0;
	z-index:            99;
	width:              100%;
	-ms-box-sizing:     border-box;
	-o-box-sizing:      border-box;
	-moz-box-sizing:    border-box;
	-webkit-box-sizing: border-box;
	box-sizing:         border-box;
}

ul#mainNav .sf-mega ul ul {
	left:    0;
	display: none !important; /* Hides 3x level deep under mega */
}

ul#mainNav .sf-mega > ul > li > ul {
	opacity: 1 !important;
	display: block !important; /* Shows 2x level deep under mega */
}

/* Superfish Skin */
ul#mainNav {
	float:         left;
	margin-bottom: 1em;
	width:         100%;
}

ul#mainNav ul
ul#mainNav .sf-mega {
	min-width: 200px;
	*width:    100%;
}

ul#mainNav li {
	-webkit-transition: background .2s;
	transition:         background .2s;
}

ul#mainNav ul li {
	white-space:  nowrap;
	*white-space: normal;
}

ul#mainNav li:hover,
ul#mainNav li.sfHover {
	-webkit-transition: none;
	transition:         none;
}

ul#mainNav > li {
	width:     16.66%;
	max-width: 16.66%;
	display:   block;
	float:     left;
}

ul#mainNav > li > a {
	display:     table;
	position:    relative;
	text-align:  center;
	height:      54px;
	float:       left;
	font-size:   15px;
	line-height: 18px;
}

ul#mainNav a,
ul#mainNav a:visited {
	background:         $prim_color;
	color:              #FFFFFF;
	border-left:        1px solid rgba(0, 0, 0, 0.2);
	padding:            14px 15px;
	text-decoration:    none;
	zoom:               1;
	display:            block;
	width:              100%;

	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	-ms-box-sizing:     border-box;
	box-sizing:         border-box;
}

ul#mainNav a:hover, ul#mainNav li.current > a {
	background: lighten($prim_color, 8%);
}

ul#mainNav li:first-child a {
	border-left: 0;
}

ul#mainNav > li > a > span {
	display:            table-cell;
	vertical-align:     middle;
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	-ms-box-sizing:     border-box;
	-o-box-sizing:      border-box;
	box-sizing:         border-box;
}

/* Drop downs */
ul#mainNav ul a,
ul#mainNav ul a:visited {
	border:     0;
	padding:    8px 15px;
	background: #FAFAFA;
	color:      #777777;
	font-size:  13px;
}

ul#mainNav ul a:hover {
	background: #FAFAFA;
	color:      #000000;
}

/* Mega Menu */
ul#mainNav .sf-mega {
	width: 600px;
}

ul#mainNav .sf-mega,
ul#mainNav .sf-mega > ul {
	background-color: #FAFAFA;
}

ul#mainNav .sf-mega > ul {
	-ms-box-sizing:       border-box;
	-o-box-sizing:        border-box;
	-moz-box-sizing:      border-box;
	-webkit-box-sizing:   border-box;
	box-sizing:           border-box;
	float:                left;
	width:                33%;

	border-right:         1px solid #CCCCCC;
	border-width:         1px;
	border-right-style:   solid;
	-webkit-border-image: -webkit-gradient(linear, 0 0, 0 100%, from(#CCCCCC), to(rgba(0, 0, 0, 0))) 1 100%;
	-webkit-border-image: -webkit-linear-gradient(#CCCCCC, rgba(0, 0, 0, 0)) 1 100%;
	-moz-border-image:    -moz-linear-gradient(#CCCCCC, rgba(0, 0, 0, 0)) 1 100%;
	-o-border-image:      -o-linear-gradient(#CCCCCC, rgba(0, 0, 0, 0)) 1 100%;
	border-image:         linear-gradient(to bottom, #CCCCCC, rgba(0, 0, 0, 0)) 1 100%;
	border-left:          0;
}

ul#mainNav .sf-mega > ul:last-of-type {
	border-right: 0;
}

ul#mainNav .sf-mega > ul > li > a {
	font-weight:   bold;
	border-bottom: 1px solid #CCCCCC;
	color:         #000000;
}