@mixin button_styles($background_color, $button_color: #ffffff) {

	@if ($button_color == null) {
		@if (lightness($background_color) > 50) {
			$button_color: #000000;
		} @else {
			$button_color: #ffffff;
		}
	}

	@if (lightness($background_color) > 50) {
		text-shadow: 0px -1px 0px lighten($background_color, 10%);
	} @else {
		text-shadow: 0px 1px 0px darken($background_color, 10%);
	}

	background-color: $background_color;
	box-shadow: 0px 3px 0px 0px darken($background_color, 10%);

	&, &:visited {
		color: $button_color;
	}

	&:hover {
		color: $button_color;
		background-color: lighten($background_color, 5%);
	}

	&:active {
		color: $button_color;
		background-color: $background_color;
		box-shadow: 0px 0px 0px 0px darken($background_color, 10%);
	}
}